<!DOCTYPE html>
<html lang="en-US">
   <head>
      <title> 493 Artist Search</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
      </title>
   </head>
   <style>

      h5{
      padding-bottom: 5px;
      padding-top: 3px;
      }
      h4{
         font-size: small;
         margin:0;
         margin-bottom: 10px;
      }
      .tab-content-box{
         margin-bottom: 5px;;
      }
      .genre{
      border:solid 2px;
      border-radius: 3px;
      margin:5px;
      white-space: nowrap;
      background-color:#ccc;
      padding:2px;
      }
      .inline-block{
         display: inline-block;
      }
      .dropdown{
         margin-bottom: 20px;
         margin-top:10px;
      }
      /*img {
      height: 200px;
      }*/
   </style>
   <body >
     <div id='app'>
      
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="navbar-header">
               <h3>493 Artist Search</h3>
            </div>
         </div>
      </nav>

      <div class = "container">
         <div class = "row searchbar" >
            <div class = "col-lg-12 col-md-12 col-sm-12">
               <h4>Enter the name of the artist and enter : </h4>
               <input v-model="searchValue" @keyup.enter="searchHandler" type="text">
            </div>
         </div>

         <h4>Search Result (Total {{resultCount}} Found.)</h4>

         <button @click = "filterButtonHandler('All')" :class = "btnAll" style="margin:2px;">ALL</button>
         <div style="display:inline" v-for= "item in genereButtonSet">
            <button @click = "filterButtonHandler(item)" :class = "genereButtonStyleMap.get(item+'GenereButton')" style="margin:2px;">{{item}}</button>
         </div>
         <h4>List of results</h4>
         <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li :class="dropdownFirstButton"> <a @click="sortButtonHandler(0)">Reset to original</a></li>
              <li :class="dropdownSecondButton"><a @click="sortButtonHandler(1)" href="#">Collection Name</a></li>
              <li :class="dropdownThirdButton"> <a @click="sortButtonHandler(2)" href="#">Price</a></li>
            </ul>
          </div>
      
       <div  v-for= "(item, index) in resultList" v-if= "index % 2 ==0">
         <div class = "col-lg-6 col-md-6 col-sm-6" style='margin-bottom: 50px; display: inline; height: 250px' v-if=" genereButtonSelectedSet.has(resultList[index].primaryGenreName)" >
           <div class="col-sm-4" style='max-width:200px;margin-right: 30px'>
             <img style='width: 120%; display: inline; ' :src="resultList[index].artworkUrl100">
          </div>

          <div :id="index" class="col-sm-6" style='max-height: 250px;'>
             <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="pill" :href="'#Description' + index">Description</a></li>
                <li><a data-toggle="pill" :href="'#Track' + index">Track Info.</a></li>
             </ul>
             <div class="tab-content">
                <div :id="'Description' + index" class="tab-pane fade in active">
                   <div class="tab-content-box">
                     <h4 class="inline-block">Artist Name: </h4> 
                     <span>{{resultList[index].artistName}}</span>
                   </div>

                   <div class="tab-content-box">
                     <h4 class="inline-block">Collection Name: </h4> 
                     <span>{{resultList[index].collectionName}}</span>
                   </div>

                   <div class="tab-content-box">
                     <h4 class="inline-block">Price: </h4>
                     <span>{{resultList[index].collectionPrice}}</span>
                   </div>

                   <div class="tab-content-box">
                     <h4 class="inline-block">Kind: </h4>
                  
                     <span>{{resultList[index].kind}}</span>
                   </div>

                   <div class="tab-content-box">
                     <h4 class="inline-block">Preview: </h4> 
                     <h4 v-if="resultList[index].trackViewUrl == undefined">No information provided</h4> 
                     <a v-else :href= "resultList[index].trackViewUrl"> Link</a>
                   </div>
                   <div class="tab-content-box">
                     <button @click = "playButtonHandler(resultList[index].trackId)">{{playButtonMap.get("playButton-" + (resultList[index].trackId))[0]}}</button>
                   </div>
                </div>

                <div :id="'Track' + index" class="tab-pane fade">
                  <div class="tab-content-box">
                     <h4 class="inline-block">Track ID: </h4> 
                     <span>{{resultList[index].trackId}}</span>
                   </div>
                   
                   <div class="tab-content-box">
                     <h4 class="inline-block">Country: </h4> 
                     <span>{{resultList[index].country}}</span>
                   </div>  
                </div>
             </div>
           </div>
         </div>

         <div  class = "col-lg-6 col-md-6 col-sm-6" style='margin-bottom: 50px; display: inline; height: 250px' v-if = "(index < resultList.length - 1) && genereButtonSelectedSet.has(resultList[index+1].primaryGenreName)">
           <div class="col-sm-4" style='max-width:200px;margin-right: 30px'>
             <img style='width: 120%; display: inline; ' :src="resultList[index+1].artworkUrl100">
          </div>
          
          <div class="col-sm-6" style='max-height: 250px;'>
             <ul class="nav nav-tabs">
               <li class="active"><a data-toggle="pill" :href="'#Description' + index + 1">Description</a></li>
               <li><a data-toggle="pill" :href="'#Track' + index + 1">Track Info.</a></li>
             </ul>
             <div class="tab-content">
               <div :id="'Description' + index + 1" class="tab-pane fade in active">
                   <div class="tab-content-box">
                     <h4 class="inline-block">Artist Name: </h4> 
                     <span>{{resultList[index+1].artistName}}</span>
                   </div>

                   <div class="tab-content-box">
                     <h4 class="inline-block">Collection Name: </h4> 
                     <span>{{resultList[index+1].collectionName}}</span>
                   </div>

                   <div class="tab-content-box">
                     <h4 class="inline-block">Price: </h4> 
                     <span>{{resultList[index+1].collectionPrice}}</span>
                   </div>

                   <div class="tab-content-box">
                     <h4 class="inline-block">Kind: </h4> 
                     <span>{{resultList[index+1].kind}}</span>
                   </div>

                   <div class="tab-content-box">
                     <h4 v-if="resultList[index+1].trackViewUrl == undefined">No information provided</h4> 
                     <a v-else :href= "resultList[index+1].trackViewUrl"> Link</a>
                   </div>
                   <div class="tab-content-box">
                     <button @click = "playButtonHandler(resultList[index+1].trackId)">{{playButtonMap.get("playButton-" + (resultList[index+1].trackId))[0]}}</button>
                   </div>  
                </div>

                <div :id="'Track' + index + 1" class="tab-pane fade">
                  <div class="tab-content-box">
                     <h4 class="inline-block">Track ID: </h4> 
                     <span>{{resultList[index+1].trackId}}</span>
                   </div>
                   
                   <div class="tab-content-box">
                     <h4 class="inline-block">Country: </h4> 
                     <span>{{resultList[index+1].country}}</span>
                   </div>  
                </div>
             </div>
           </div>
         </div>
      </div>
  </div>
    <script src="script.js"></script>

   </body>
</html>
