/* Main Containers */
body, button, p {
  font-family: VT323;
}
button {
  font-size: xx-large;
}
p {
  margin:20px;
}

.outer-container {
  height: 720px;
  width: 1280px;
  background: #eee;
  border: 5px solid gainsboro;
}

.game-window {
  height: 720px;
  width: 1280px;
  float: left;
  position: relative;
}

/* Main Menu */
.menu-header{
  width:100%;
  height: 100px;
  background-color: #800;
  border-bottom: 6px;
  border-bottom-style: groove;
  font-size: 100px;
  text-align:center;
}

.menu-content {
  width:100%;
  height:620px;
  text-align: center;
  background-image: url('../src/frontpage_background.jpg');

  background-size:cover;
  overflow:hidden

}
.menu-content-button{
  display: block;
  width: 200px;
  height: 100px;
  background-color: #A00;
  margin:auto;
  margin-top:100px;

}

/* Settings */
#Settings {
  width:51%;
  height:700px;
  background-color: blue;
  position: absolute;
  top:10px;
  left: 336px;
  border: 5px solid gainsboro;
  text-align: center;
  font-size:40px;
  color:white;
}

.volume-bar-box{
  width:100%;
  margin-top:90px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
.difficulty-box {
  margin-top: 50px;
}
#Settings button{
  width: 200px;
  height: 100px;
  background-color: #A00;
  border: solid 5px transparent;
  font-size:40px;
}

#Settings .difficulty-box button:focus{
  border: solid 5px yellow;
}

#close-button {
  margin-top:80px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

/* Game Section --- Right Section */

#actual_game{
    height: 720px;
    width: 1280px;
    background-color: black;
    z-index: 10;
    right: 0px;
    top: 0px;

}

#game_right_section {
    height: 600px;
    width: 320px;
    position: absolute;
    left: 960px;
    top: 0px;
    color: white;
    z-index: 1;
}

#scoreword, #covid_danger, #level {
  text-align:center;
  font-size: 60px;
}

#score_num, #covid_danger_num, #covid_level {
  text-align: center;
  font-size: 40px;
  color: yellow;
}

#player {
  position: absolute;
  width: 62px;
  left: 600px;
  top: 300px;
  z-index: 9;
}

.covidComet {
  position: absolute; 
  z-index: 9;
}

.covidComet img{
  height: 62px;
  width: 62px;
  
}

.vaccine {
  position: absolute;
  z-index: 9;
}

.mask {
  position: absolute;
  z-index: 9;
}

