/* Main Containers */
body, button, p {
  font-family: VT323;
}
button {
  font-size: xx-large;
}
p {
  margin:20px;
}

.outer-container {
  height: 720px;
  width: 1280px;
  background: #eee;
  border: 5px solid gainsboro;
}

.game-window {
  height: 720px;
  width: 1280px;
  float: left;
  position: relative;
}

/* Main Menu */
.menu-header{
  width:100%;
  height: 100px;
  background-color: #800;
  border-bottom: 6px;
  border-bottom-style: groove;
  font-size: 100px;
  text-align:center;
}

.menu-content {
  width:100%;
  height:615px;
  text-align: center;
  background-image: url('../src/frontpage_background.jpg');
  background-size:cover;
  overflow:hidden

}
.menu-content-button{
  display: block;
  width: 200px;
  height: 100px;
  background-color: #A00;
  margin:auto;
  margin-top:100px;

}

/* Game Over Page */
#game-over-page{
  padding-top: 20px;
  display: none;
  background-color: #A00;
  width:400px;
  height:250px;
  margin:auto;
}

#game-over-page p{
  color:blue;
  font-size:30px;
}


/* Settings */
#Settings {
  display: none;
  width:51%;
  height:700px;
  background-color: blue;
  position: absolute;
  top:10px;
  left: 336px;
  border: 5px solid gainsboro;
  text-align: center;
  font-size:40px;
  color:white;
}

.volume-bar-box{
  width:100%;
  margin-top:90px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
.difficulty-box {
  margin-top: 50px;
}
#Settings button{
  width: 200px;
  height: 100px;
  background-color: #A00;
  border: solid 5px transparent;
  font-size:40px;
}


#close-button {
  margin-top:80px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

/* Tutorial */
#Tutorial {
  display:none;
  position: absolute;
  top: 0px;
  width: 100%;
  height:721px;
  background-color: gainsboro;
  text-align: center;
}

#Tutorial p {
  font-size: 50px;
}

#Tutorial button {
  margin:auto;
  margin-top:20px;
  display:block;
  width: 200px;
  height: 75px;
}

/* Get Ready Splash Screen */
#get_ready{
  font-size:90px;
  color:white;
  margin-bottom:50px;
}

#text{
  font-size:50px;
  color:white;
  margin-top: 50px;
}

#get_ready_splash_screen{
  text-align: center;
  margin-top: 200px;
}

/* Game Section --- Right Section */
#actual_game{
    height: 720px;
    width: 1280px;
    background-color: black;
    z-index: 10;
    right: 0px;
    top: 0px;
    overflow: hidden;
    display: none;
}

#game_right_section {
    height: 600px;
    width: 320px;
    position: absolute;
    left: 960px;
    top: 0px;
    color: white;
    z-index: 1;
}

#scoreword, #covid_danger, #level {
  text-align:center;
  font-size: 60px;
}

#score_num, #covid_danger_num, #covid_level {
  text-align: center;
  font-size: 40px;
  color: yellow;
}

#player {
  position: absolute;
  width: 55px;
  height:55px;
  left: 600px;
  top: 300px;
  z-index: 9;
}

.covidComet {
  position: absolute; 
  z-index: 9;
  height:62px;
  width:62px;
}

.covidComet img{
  height: 62px;
  width: 62px;
  
}

.vaccine {
  position: absolute;
  z-index: 9;
  height: 57px;
  width: 57px;
}

.mask {
  position: absolute;
  z-index: 9;
  width: 70px;
  height: 33px;
}
